
body{
    background-color: rgb(238, 188, 168);
    background-image: url(https://s.yimg.com/ny/api/res/1.2/FuhBt7xjUFnMPpDgC5tWkA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNg--/https://media.zenfs.com/en/hypebae_340/b518bd83a785b9d7942a362a60efa467)
    ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    
  
}
h1{
    color: rgb(0, 0, 0);

}
h3{
    color: rgb(0, 0, 0);
}

h4{
    .box2 
        background-color: rgba(0,0,0,.5);
        color: #000000;
    color: rgb(0, 0, 0);
    }

th{
    color: rgb(0, 0, 0);
}

table, th, td{
    border: 1px solid black;
}

table{
    background-color: aliceblue;
}

label{
    color: #000000;
}